.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#root {
  margin: 20px;
}

.movie-image {
  height: 400px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.movie-list {
  justify-content: space-between;
}

.movie-item {
  width: 100% !important;

  @media (min-width: 768px) {
    max-width: 300px !important;
  }
}
